body{

    background-color: #fff; 
    font-family:Verdana;
    font-size: 14px;
}
.container{
    margin-left: 30px;
    width:95%;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 20px 0;
  height:60px;
}

.tab p {
  position:absolute;
  margin-left:10px;
  
}
.tab button {
  position:absolute;
  border-radius:15px;
  width:150px;
  height:30px;
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top:10px;
  float: right;
  margin-left: 930px;
}

.tab button:hover {
  background-color: #ddd;
}

header{
  border-bottom:4px;
}

table th, table td{
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-top:10px;
    padding-bottom: 10px;
    width:auto;
}
img{
   width:40px;
   height:40px; 
}

.ed {
    position:absolute;
    border-radius:15px;
    width:auto;
    height:30px;
    background-color:#fff;
    border: 2px solid rgb(5, 130, 248);
    outline: none;
    cursor: pointer;
    margin-top: -10px;
    color:rgb(5, 130, 248);
  }
.pagination {
    display: inline-block;
  }
.pagination li {
  text-align: center;
  width:25px;
  margin: 15px 5px 0 0;
  display: inline-block;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
}  

.pagination li.active {
  background-color:rgb(5, 130, 248);
  color: white;
}
.pagination li.active:hover {
  background-color:rgb(5, 130, 248);
  color: white;
}
.pagination li:hover {
  background-color: #ddd;

}